SECRET_KEY=django-insecure-eval3-segura-inacap-2026
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Credenciales MySQL (Ajustar según tu configuración local / XAMPP)
DB_NAME=centro_medico_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
